* {                                            /*changes attemped to all types of tags*/
    box-sizing: border-box;                    /*The width and height properties includes content, padding and margin*/
    padding: 0;                                /*Clear area around the content*/
    margin: 0;                                 /*Clear area outside the border*/
}

body {
    background-color: #d9dcd6;               /*background-color of the page*/
}

.header {
    padding: 20px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;      /*font-type*/
    background-color: #2a607c;                                                                                /*background-color-for the header*/
    color: #ffffff;                                                                                           /*text color for the header*/
}

.header h1 {
    display: inline-block;                    /*showing all blokcs in inline model*/
    font-size: 48px;                          /*font size for heading element h1*/
}

.header h1 .seo {
    color: #d9dcd6;                        /*chainging color on letters "seo" in word Horieson in the header section*/
}

.header nav {
    padding-top: 15px;                        /*Clear area at the top of the content by 15px*/
    margin-right: 20px;                       /*Clear area outside the border at the right side by 20px*/
    float: right;                             /*Specifies how a box should be floated.*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*Font types*/
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;                    /*Used to construct the default contents of a list item’s marker*/
}

.header nav ul li {                          /*attached to the elements in navigation bar*/
    display: inline-block;
    margin-left: 25px;
}

a {                                          /*all links on this page will be white*/
    color: #ffffff;
    text-decoration: none;
}

p {                                          /*all paragraphes on this page will have font size 16px*/
    font-size: 16px;
}

.hero {                                      /*bacground picture in the body element*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");   /*link to the image*/
    background-size: cover;
    background-position: center;
}

.float-left {                           /*changes attached to elements with class "float-left"*/
    float: left;                        /*placing elements on the left side*/
    margin-right: 25px;
}

.float-right {                          /*changes attached to elements with class "float-left"*/
    float: right;                       /*placing elements on the right side*/
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}
